body{
    padding: auto;
    margin: auto;
}

h1{
    text-align: center;
    color: white;
    font-size: 50px;
    background-color: rgb(45, 183, 230);
    padding: 20px;
    margin: 0;
}



h2 {
    font-size: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    margin-bottom: 0%;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
}

h3{
    font-size: 30px;
    margin-bottom: 0;
}

h4{
    font-size: 25px;
    margin-top: 0;
}

p{
    font-size: 15px;
}

h5{
    font-size: 20px;
    color: darkred;
}
body {
    background-color: rgb(196, 196, 196);
}

form{
    display: flex;
    text-align: center;
    padding: 10px;
    padding-left: 250px;
}

    

input{
    height: 50px;
    width: 960px;
}

.btn {
    color: white;
    background-color: red;
    border-color: black;
}

label {
    text-align: center;
    margin-left: 250px;
    padding: auto;
    margin-top: 150px;
     ;
}

.list{
    margin-left: 150px;
    margin-right: 150px;
}